<a href="https://colab.research.google.com/github/MatheusVanDeSande/python-basics-and-cases/blob/main/Introdu%C3%A7%C3%A3o_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# comentario
print('Minha primeira linha de código em Python')

hello world porra

In [ ]:
# VARIAVEIS = ONDE SE ARMAZENA VALORES
# variavel = valor
nome = 'Matheus' # string
idade = 28       # int
cidade = 'Rio de Janeiro' # string
altura = 1.87    # float

In [ ]:
print('Meu nome é:')
print(nome)
print('Minha idade é:')
print(idade)
print('Moro em:')
print(cidade)

Meu nome é:
Matheus
Minha idade é:
28
Moro em:
Rio de Janeiro

In [ ]:
# dados primitivos - base da programação em python
# string = palavras
# int = numeros inteiros
# float = numeros decimais
# booleano = True e False

In [ ]:
# operadores aritméticos
# soma +
# subtração -
# multiplicação *
# divisão /
# divisão inteira //
# percentual ( informa o resto da divisão) %
# exponenciação **

Area do Retangulo

In [ ]:
altura = 4
largura = 7
area = altura * largura
print('A area é:', area)
perimetro = 2 * (altura + largura)
print('O perimetro é:' , perimetro)

A area é: 28
O perimetro é: 22

Calculadora

In [ ]:
x = 10
y = 3
print('soma:' , x + y)
print('subtração:' , x - y)
print('multiplicação:' , x * y)
print('divisão:' , x / y)
print('divisão inteira:' , x // y)
print('resto da divisão:' , x % y)

soma: 13
subtração: 7
multiplicação: 30
divisão: 3.3333333333333335
divisão inteira: 3
resto da divisão: 1

In [ ]:
# OPERADORES RELACIONAIS
# igualdade ==
# diferente !=
# maior que >
# maior ou igual >=
# menor que <
# menor ou igual <=

Comparando Idades

In [ ]:
Mauricio = 25
Rafael = 12
idades_iguais = (Mauricio == Rafael)
print('As idades são iguais:', idades_iguais)

As idades são iguais: False

Calculadora IMC

In [ ]:
Altura = 1.87
peso = 95
IMC = peso // (Altura ** 2)
print('O IMC é:', IMC)
print('IMC Maior que 25:', IMC > 25)
print('IMC Menor que 18:', IMC < 18)

O IMC é: 27.0
IMC Maior que 25: True
IMC Menor que 18: False

Par ou Impar ?

In [ ]:
x = 4
resto_divisao = x % 2
print('O resto da divisão é:', resto_divisao)
print('O numero é par:', resto_divisao == 0)

O resto da divisão é: 0
O numero é par: True

In [ ]:
# Operadores Lógicos
# and = retorna True quando ambos valores são True
# or = retorna True se pelo menos um valor for True
vai_chover = True
tenho_guardachuva = False
nao_preciso_guardachuva = not vai_chover
print(nao_preciso_guardachuva and vai_chover)

False

In [ ]:
aluno_presente = True
fez_trabalho = False
print(aluno_presente or fez_trabalho)

True

In [ ]:
# conversão de tipos
idade = "30"
print(type(idade))
idade = int(idade)
print(type(idade))

<class 'str'>
<class 'int'>

In [ ]:
# Funçãi Input
nome = str(input('Qual o seu nome? '))
print('Olá', nome)
print(type(nome))

Qual o seu nome? matheus
Olá matheus
<class 'str'>

In [ ]:
# F-Strings
a=10
b=5
soma=a+b
print(f'A soma é {soma}')

A soma é 15

In [ ]:
valor_monetario = 143.4545
print(f'Valor em reais: R$ {valor_monetario:.2f}')

Valor em reais: R$ 143.45

In [ ]:
Nome=input('Qual é o seu nome?')
city=input('Qual é a sua cidade?')
print(f'Seu nome é {Nome} e você mora em {city}')